<template name="clicker">

    <form>
        Room Name: <input type="text" name="roomName"><br>
        No. of Rounds: <input type="number" name="numRounds"><br>
        <button>Create A Room</button>
    </form>

    <table id="availableRooms">
        <thead>
        <tr>
            <th>Available Rooms:</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#each rooms}}
            <tr>{{name}}: {{roundCount}} </tr>
        {{/each}}
        </tbody>
    </table>

</template>
